IO_LOC  "rstn_i" 3;
IO_PORT "rstn_i" PULL_MODE=UP;

IO_LOC  "clk_i" 52;
IO_PORT "clk_i" PULL_MODE=UP;

IO_LOC  "echo0_i" 69;
IO_PORT "echo0_i" IO_TYPE=LVCMOS33;
IO_LOC  "echo1_i" 68;
IO_PORT "echo1_i" IO_TYPE=LVCMOS33;
IO_LOC  "echo2_i" 57;
IO_PORT "echo2_i" IO_TYPE=SSTL25_I;

IO_LOC  "trig_o" 56;
IO_PORT "trig_o" IO_TYPE=LVCMOS33;


IO_LOC  "miso_o" 39;
IO_PORT "miso_o" IO_TYPE=LVCMOS33;
IO_LOC  "csn_i" 38;
IO_PORT "csn_i" IO_TYPE=LVCMOS33;
IO_LOC  "mosi_i" 37;
IO_PORT "mosi_i" IO_TYPE=LVCMOS33;
IO_LOC  "sck_i" 36;
IO_PORT "sck_i" IO_TYPE=LVCMOS33;


IO_LOC  "txUart_o" 17;
IO_PORT "txUart_o" IO_TYPE=LVCMOS33;
IO_LOC  "rxUart_i" 18;
IO_PORT "rxUart_i" IO_TYPE=LVCMOS33;
